.aboutit {
    background-color:  rgb(218, 226, 224);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.aboutit:hover {
    font-size: larger;
    font-family: cursive;
    font-style: italic;
}

.hoho {
     display: none;
}

.aboutit:hover .hoho {
    display: block;
    font-size: larger;
    color: red;
    font-weight: bolder;
}