



.navDiv {
    background-color: rgb(218, 226, 224);

     display: flex;
     flex-direction: column;
     justify-content: space-around;
     gap:5px;
    
}

.navDivFirst,
.navDivSecond {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  border: 1px solid black;
  border-radius: 50px;

}
.navDiv1,
.navDiv2 {
    display: flex; 
    font-family:fantasy;
    font-size: 1rem;
    border: 1px solid black;
    width: 170px;
    flex-wrap: wrap;
    border-radius: 50px;
    justify-content: center;
    

}


.navhref {  display: block;
            /* padding: 10px 20px; */
            text-wrap: wrap;
            text-align: center;}

.navhref:hover {
      background-color: beige;
}            

.navWelcome {
             display: block;
            /* padding: 10px 20px; */
            text-wrap: wrap;
            text-align: center;
            font-style: italic;
        
           

}